{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <img src="{% static 'images/pict.jpg'%}">

    <div class="log">
        <div id="txt">Login</div>
        <form method="post">
            {% csrf_token %}
            <div id="name">
                <img src="{% static 'images/profile.jpg'%}">
                <input type="text" placeholder="Email Address" name="username">
            </div>
            <div id="password">
                <img src="{% static 'images/lock.jpg'%}">
                <input type="password" placeholder="Phone Number" name="password">
            </div>
            
            <button type="submit">Login</button>
            <a href="{% url 'register' %}">Don't have an account?</a>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div> 
</body>
</html>